# Timezone
TZ=Asia/Novosibirsk

# API
API_KEY=your_secret_api_key
LOG_LEVEL=INFO

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Настройки очередей (в миллисекундах)
MESSAGE_TTL=60000      # 1 минута - время жизни сообщения в очереди
RETRY_DELAY=300000     # 5 минут - задержка перед повторной отправкой
MAX_RETRIES=3          # Максимальное количество попыток
PENDING_TIMEOUT_HOURS=24 # Время ожидания подтверждения от пользователя
